html {
  overflow-x: hidden;
}

body {
  background-color: #eaeded;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#logo {
  background-color: rgb(34, 47, 62);
  height: 8vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#logo img {
  width: 110px;
  margin-left: 20px;
  cursor: pointer;
}

nav {
  background-color: #354758;
  height: 6vh;
  position: absolute;
  top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

nav li {
  list-style: none;
  display: inline;
  position: relative;
  right: 20px;
  padding: 4px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

#banner {
  background-color: #f56600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner h4 {
  font-weight: normal;
  padding: 4px;
}

#immagine-di-sfondo {
  background-image: url(./bg-image.png);
  height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.section-0 {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.section-0 h5 {
  font-weight: 500;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section-0 h2 {
  padding: 5px;
  text-align: center;
}
.gaming-accessories img {
  width: 130px;
  padding: 10px;
}

.gaming-accessories h4 {
  font-weight: 600;
  color: #017185;
  position: relative;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.gaming-accessories div {
  position: relative;
  bottom: 5px;
  left: 5px;
  text-align: center;
  cursor: pointer;
}

.gaming-accessories {
  background-color: white;
  width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comfy-styles {
  background-color: white;
  width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.comfy-styles h4 {
  font-weight: 600;
  color: #017185;
  position: relative;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.comfy-styles img {
  width: 130px;
  padding: 10px;
}
.comfy-styles div {
  position: relative;
  bottom: 5px;
  left: 5px;
  text-align: center;
  cursor: pointer;
}


.holiday-gifts {
  background-color: white;
  width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.holiday-gifts h4 {
  font-weight: 600;
  color: #017185;
  position: relative;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.holiday-gifts div {
  position: relative;
  bottom: 5px;
  left: 5px;
  text-align: center;
  cursor: pointer;
}

.holiday-gifts img {
  width: 130px;
  padding: 10px;
}

.wish-list {
  background-color: white;
  width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.wish-list h4 {
  font-weight: 600;
  color: #017185;
  position: relative;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.wish-list img {
  width: 130px;
  padding: 10px;
}

.wish-list div {
  position: relative;
  bottom: 5px;
  left: 5px;
  text-align: center;
  cursor: pointer;
}

.section-1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  height: 53vh;
}

#container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#container-1 img {
  width: 250px;
  height: 300px;
  padding-bottom: 10px;
  padding: 40px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  position: relative;
  bottom: 120px;
}

#shop-now {
  position: relative;
  bottom: 94px;
  left: 230px;
  font-size: 15px;
  color: #017185;
  cursor: pointer;
}

.section-1 h3 {
  margin-left: 60px;
  padding-top: 20px;
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

#section-2 {
  height: 15vh;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#section-2 h4,
h3 {
  display: inline-block;
  padding-right: 10px;
}

#section-2 h3 {
  font-weight: 500;
}

#section-2 h4 {
  color: #017185;
  cursor: pointer;
}

#section-2 img {
  width: 100%;
  object-fit: contain;
}

#section-3 {
  height: 15vh;
  position: relative;
  top: 380px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#section-3 img {
  width: 100%;
}

#section-3 h3,
h4 {
  display: inline-block;
}

#section-3 h3 {
  font-weight: 500;
}

#section-3 h4 {
  color: #017185;
  cursor: pointer;
}

#back-to-top {
  height: 4vh;
  position: relative;
  top: 760px;
  color: white;
  background-color: #354758;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#footer {
  height: 20vh;
  background-color: rgb(34, 47, 62);
  position: relative;
  top: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer img {
  width: 150px;
}

a {
  color: white;
}
